// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-text {
    color: #fff;
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 30px;
    font-weight: bold;

    p {
        font-size: 21px;
        line-height: 28px;
    }
}

.field {
    margin-bottom: 5px;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}