.card.no-padding.clearfix.user-profile
    %div{style: "height: 100px; background-color: #1DA1F2;"}
    %div
        .col-md-4
            = image_tag 'https://pbs.twimg.com/profile_images/527390577411645441/-5ElXiOd_bigger.jpeg', class: 'avatar'
        .col-md-8
            %strong
                %span Vi Cruz 
            %br
            %span.text-muted @vicruz
            %br
        .col-md-12
            .col-md-4
                %b.text-muted Tweets
                %b.sub-text
                    12
            .col-md-4
                %b.text-muted Following
                %b.sub-text
                    12
            .col-md-4
                %b.text-muted Followers
                %b.sub-text
                    12