.card.no-padding.clearfix.user-profile{style: "margin: 0px; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);"}
  %div{style: "height: 320px; background-color: #1DA1F2;"}
  .container
    .col-md-12
      = image_tag 'https://pbs.twimg.com/profile_images/527390577411645441/-5ElXiOd_bigger.jpeg', class: 'avatar -big'
    .col-md-9.col-md-offset-3
      %ul.nav.navbar-nav
        %li
          %a.active
            %strong.head-text.text-muted
              Twitsss
            .sub-text.text-center
              12
        %li
          %a
            %strong.head-text.text-muted
              Following
            .sub-text.text-center
              12

        %li
          %a
            %strong.head-text.text-muted
              Followers
            .sub-text.text-center
              12
      %div{style: "padding-top:15px;"}
        =link_to 'Edit Profile', sign_out_path, class: 'btn pull-right'

.container.padding-card
  .col-md-3.no-padding
    %br
    %h3
      %b
        virmel cruz
    %span.text-muted
      @virmelcruz

  .col-md-6.no-padding
    = render "posts/post"

  .col-md-3.no-padding
    .card
      %h4
        %strong
          Who to follow
      - 3.times do |ntime|
        %div.twits.clearfix
          .col-md-3.no-padding
            = image_tag 'http://endlesstheme.com/Endless1.5.1/img/user2.jpg', class: 'avatar'
          .col-md-9.no-padding
            %b Test Name
            %span.text-muted @testuser
            %button.btn.btn-info
              Follow
          %hr
      %a
        .small{style: "padding-top: 10px;"}
          %span.glyphicon.glyphicon-user
          Find people you know